NESSIE_API_KEY=tu_api_key_aqui
NESSIE_BASE_URL=http://api.nessieisreal.com
BANXICO_TOKEN=tu_token_sie_banxico_aqui
MONGODB_URI=tu_connection_string_de_mongodb_atlas_aqui
JWT_SECRET_KEY=genera_una_con_python_-c_"import secrets; print(secrets.token_hex(32))"
